<!DOCTYPE html>
    <html>
    <script src="https://cdn.tailwindcss.com"></script>
    <head>
        <meta charset="UTF-8">
        <title>Mi Librería</title>
    </head>
    <body class="font-sans">
        <nav class=" bg-purple-300 p-4">
            <div class="container mx-auto flex justify-between items-center">
                <!-- Brand/logo -->
                <a href="#" class=" text-slate-900 font-semibold text-2xl">Lab 10</a>
                <!-- Navbar links -->
                <div class="space-x-4">
                    <% if (username == '') { %>
                        <a href="/libro" class=" text-slate-900 hover:bg-purple-500 hover:shadow-md py-4 px-3 rounded-sm">
                            Home</a>
                        <a href="/users/signup" class=" text-slate-900 hover:bg-purple-500 hover:shadow-md py-4 px-3 rounded-sm">
                            Sign Up</a>
                        <a href="/users/login" class=" text-slate-900 hover:bg-purple-500 hover:shadow-md py-4 px-3 rounded-sm">
                            Login</a>
                        <a href="#" class=" text-slate-900 hover:bg-purple-500 hover:shadow-md py-4 px-3 rounded-sm">
                            Contact</a>
                    <% } else { %>
                        <strong>Hola <%= username %> | </strong>
                        <% for(permiso of permisos) { %>
                            <% if(permiso.permiso == 'ver_coleccion') { %>
                                <a href="/libro" class=" text-slate-900 hover:bg-purple-500 hover:shadow-md py-4 px-3 rounded-sm">Libros</a>
                            <% } %>
                        <% } %>
                        <% for(permiso of permisos) { %>
                            <% if(permiso.permiso == 'registrar_libro') { %>
                                <a href="/libro/add" class=" text-slate-900 hover:bg-purple-500 hover:shadow-md py-4 px-3 rounded-sm">Add</a>
                            <% } %>
                        <% } %>
                        <a href="/users/logout" class=" text-slate-900 hover:bg-purple-500 hover:shadow-md py-4 px-3 rounded-sm">Logout</a>
                        <a href="#" class=" text-slate-900 hover:bg-purple-500 hover:shadow-md py-4 px-3 rounded-sm">Contact</a>
                    <% } %>
                </div>
            </div>
        </nav>
    </body>
    </html>