<%- include('includes/head.ejs', {username: username}) %>
<script src="https://cdn.tailwindcss.com"></script>
<h2 class="flex justify-center text-red-950 italic text-3xl py-3 hover:text-red-400 hover:text-4xl">Crear un nuevo libro </h2>
<form action="/add" method="POST" class="flex flex-col px-10">
    <label class="text-black bg-gray-500 rounded-lg font-montserrat px-10 py-4" for="nombre">Nombre</label>
    <input type="text" class="" id="nombre" name="nombre">
    <br><br>
    <label class="text-black bg-gray-500 rounded-lg font-montserrat px-10 py-4" for="autor">Autor</label>
    <input type="text" class="" id="autor" name="autor">
    <br><br>
    <label class="text-black bg-gray-500 rounded-lg font-montserrat px-10 py-4" for="rating">Rating</label>
    <input type="text" type="number" value="0000" class="" id="rating" name="rating">
    <br><br>
    <label class="text-black bg-gray-500 rounded-lg font-montserrat px-10 py-4" for="fecha">Fecha</label>
    <input type="text" class="" id="fecha" name="fecha">
    <br><br>
    <label class="text-black bg-gray-500 rounded-lg font-montserrat px-10 py-4" for="imagen">Imagen</label>
    <input type="text" class="" id="imagen" name="imagen">
    <br><br>
    <input class="ring-3 rounded-md bg-purple-700 text-white" type="submit" value="Crear" href="/">
</form>
    </body>
    <%- include('includes/foot.ejs') %>
    </html>