<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="../output.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi Portafolio de Laboratorios 4to</title>
  </head>
  <body>
    <div class="bg-paynegray">
      <h1 class="titulo">Laboratorios de Majo :)</h1>
      <div class="card">
        <h3 class="title-card">Intro</h3>
        <p class="p-card">Los laboratorios elaborados en el Semestre (Feb-Jun 2024) por María José Soto Castro</p>
      </div>
      <br></br>
    </div>
    <div class="bg-redwood flex flex-row justify-around ">
      <div class="card">
        <h3>Lab 1</h3>
      </div>
      <div class="card">
        <h3>Lab 2</h3>
      </div>
      <div class="card">
        <h3>Lab 3</h3>
      </div>
    </div>
  </body>
</html>